# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
config/.env
.env

# SQLite
instance/
*.db
*.sqlite3


# ignore uploaded images
static/images/profiles/*
!static/images/profiles/default.png

static/images/*
!static/images/default.png
!static/images/profiles/